/* Reset default styles */
body,h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
}

/* Body styles */
body {
  font-family: "Segoe UI Emoji", Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(to bottom, #010a41, #ffffff);
  color: #000000;
}

/* Header styles */
header {
  background-color: black;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}

#skills {
  padding: 0px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.skill i {
  margin-right: 5px;
  font-size: 30px;
}

.skill span {
  font-weight: bold;
  font-size: 40px;
}


#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 575px;
  background-color: transparent;
  text-align: center;
  border-radius: 45px;
}

.hero-content {
  display:inline;
  background-color: #03001C;
  padding: 20px;
  height: 200px;
  width: auto;
  border-radius: 45px;
}

.typed-text {
  border-radius: 45px;
  font-size: 150px;
  height: 200px;
  max-width:fit-content;
  font-weight:bolder;
  color: white;
  font-family: "Segoe UI Emoji", Arial, sans-serif;
}


#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  height: 200px;
}

.about-content {
  display: flex;
  flex-direction: row;
  width: 200%;
  height: 200px;
  max-width: 1300px; /* Adjust the max-width as per your preference */
  margin: 0px;
}

.text-container {
  width: 150%;
  padding: 20px;
  align-content: center;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: flex-end; /* Align image to the right end */
  align-items: center;
}

.image-container img {
  width: 150%; /* Set equal width and height */
  height: 150%;
  object-fit:fill; /* Maintain aspect ratio and fill the container */
  border-radius:60%;
}


/* Main styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1, h2 {
  margin-bottom: 10px;
}

.project {
  margin-bottom: 20px;
}

/* Contact form styles */
form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 20%;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

footer {
  background-color: black;
  color: #fff;
  padding: 5px;
}

.social-links {
  margin-top: 10px;
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding:5px;
  padding-bottom: 20px;
}

.social-links a:hover {
  color: blue;
}
